<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Angular Library Demo</h5>
          <div class="form-group mt-5">
            <label for="exampleInputEmail1">Enter Number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Enter" [(ngModel)]="inputValue">
          </div>
          <button type="submit" class="btn btn-primary mt-5 " (click)="checkForPrimary()">Check</button>
 
            <hr/>
         

          <h1>Output : {{isPrimaryVar}}</h1>
        </div>
      </div>
    </div>

  </div>
</div>